/*
** Typography
*/

body {
    font-family: $family--sans;
    font-weight: $weight--sans--regular;
    font-size: 16px;
    line-height: 1;
}

h1,
.h1 {
    margin: 50px 0;
    font-weight: $weight--sans--medium;
    font-size: 44px;
    line-height: 1.0909; // 48

    @include breakpoint(sm) {
        margin: 0;
        font-weight: $weight--sans--regular;
        font-size: 60px;
        line-height: 1.2;
        letter-spacing: 2px;
    }
}

h2,
.h2 {
    font-weight: $weight--sans--medium;
    font-size: 48px;
    line-height: 1.25; // 60
}

p {
    font-weight: $weight--sans--light;
    font-size: 16px;
    line-height: 1.5; // 24

    @include breakpoint(sm) {
        font-size: 18px;
        line-height: 1.5556; // 28
    }
}