/*
** Application Manifest
*/
/*
** Global Reset
*/
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body,
html {
  font-size: 100%;
  min-height: 100%; }

body {
  line-height: 1; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a,
button,
input[type="submit"] {
  cursor: pointer; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  nav ul li {
    margin: 0;
    padding: 0; }

/*
** Fonts
*/
/*
** Variables
*/
/*
** Typography
*/
/*
** Color Palette
*/
/*
** Timing
*/
/*
** Media Queries
*/
/*
** Founders Grotesk Font Face
*/
@font-face {
  font-family: 'Founders Grotesk';
  src: url("/fonts/FoundersGrotesk-Light.woff2") format("woff2"), url("/fonts/FoundersGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Founders Grotesk';
  src: url("/fonts/FoundersGrotesk-Regular.woff2") format("woff2"), url("/fonts/FoundersGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Founders Grotesk';
  src: url("/fonts/FoundersGrotesk-Medium.woff2") format("woff2"), url("/fonts/FoundersGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

/*
** Typography
*/
body {
  font-family: "Founders Grotesk", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1; }

h1,
.h1 {
  margin: 50px 0;
  font-weight: 500;
  font-size: 44px;
  line-height: 1.0909; }
  @media (min-width: 768px) {
    h1,
    .h1 {
      margin: 0;
      font-weight: 400;
      font-size: 60px;
      line-height: 1.2;
      letter-spacing: 2px; } }

h2,
.h2 {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.25; }

p {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5; }
  @media (min-width: 768px) {
    p {
      font-size: 18px;
      line-height: 1.5556; } }

/*
** Header Layout
*/
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  background-color: #000; }
  @media (min-width: 768px) {
    .header {
      justify-content: flex-start; } }
  .header .header__brand {
    transition: 300ms left ease-in-out;
    display: block;
    flex: 1 1 auto;
    position: relative;
    padding: 20px 24px;
    left: calc(-100% + 72px); }
    @media (min-width: 768px) {
      .header .header__brand {
        left: auto;
        flex: 0 1 auto;
        margin-right: 24px; } }
    .header .header__brand img {
      display: block;
      max-height: 20px; }
      @media (min-width: 768px) {
        .header .header__brand img {
          max-height: 24px; } }
    [data-nav-mobile-status="open"] .header .header__brand {
      left: 0; }
  .header .header__mobile-nav-toggle {
    transition: 300ms left ease-in-out;
    flex: 0 1 72px;
    position: relative;
    left: calc(-100% + 72px); }
    @media (min-width: 768px) {
      .header .header__mobile-nav-toggle {
        left: auto;
        display: none; } }
    .header .header__mobile-nav-toggle a {
      position: relative;
      display: block;
      width: 24px;
      height: 20px;
      padding: 30px 32px;
      background: transparent url("/images/toggle-open.svg") no-repeat center center;
      background-size: 24px; }
      [data-nav-mobile-status="open"] .header .header__mobile-nav-toggle a {
        background-image: url("/images/toggle-close.svg"); }
    [data-nav-mobile-status="open"] .header .header__mobile-nav-toggle {
      left: 0; }
  .header .header__nav {
    display: none; }
    @media (min-width: 768px) {
      .header .header__nav {
        display: block; } }

/*
** Main Layout
*/
body {
  overflow-x: hidden; }
  body[data-nav-mobile-status="open"] {
    overflow-y: hidden; }
    @media (min-width: 768px) {
      body[data-nav-mobile-status="open"] {
        overflow-y: auto; } }

[data-nav-mobile-main] {
  transition: 300ms left ease-in-out;
  left: 0; }
  [data-nav-mobile-main]:after {
    content: '';
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0); }
    [data-nav-mobile-status="open"] [data-nav-mobile-main]:after {
      display: block;
      background-color: rgba(0, 0, 0, 0.5); }
      @media (min-width: 768px) {
        [data-nav-mobile-status="open"] [data-nav-mobile-main]:after {
          display: none; } }
  [data-nav-mobile-status="open"] [data-nav-mobile-main] {
    left: calc(100% - 72px); }
    @media (min-width: 768px) {
      [data-nav-mobile-status="open"] [data-nav-mobile-main] {
        left: 0; } }

[data-nav-desktop-status]:after {
  content: '';
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0); }

[data-nav-desktop-status="open"]:after {
  display: block;
  background-color: rgba(0, 0, 0, 0.8); }

.col--primary {
  max-width: 1016px;
  margin: 0 auto 72px auto;
  padding-left: 24px;
  padding-right: 24px; }

/*
** Mobile Navigation
*/
.nav--mobile {
  transition: 300ms left ease-in-out;
  position: fixed;
  z-index: 10;
  left: -100%;
  top: 60px;
  bottom: 0;
  width: calc(100% - 72px);
  overflow-x: hidden;
  padding: 12px 0 48px 0;
  background-color: #fff; }
  [data-nav-mobile-status="open"] .nav--mobile {
    left: 0; }
  @media (min-width: 768px) {
    .nav--mobile {
      display: none; } }
  .nav--mobile ul {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3333; }
    .nav--mobile ul li {
      display: block; }
    .nav--mobile ul a {
      position: relative;
      display: block;
      padding: 13px 24px 6px 24px;
      text-decoration: none;
      color: #000;
      vertical-align: bottom; }
      .nav--mobile ul a:hover, .nav--mobile ul a:focus {
        background-color: #eee; }
    .nav--mobile ul ul {
      font-weight: 300;
      font-size: 13px;
      line-height: 1.2308; }
      .nav--mobile ul ul a {
        padding: 7px 24px 1px 24px; }
    .nav--mobile ul .nav-item-parent a:after {
      transition: 300ms all ease-in-out;
      content: '^';
      display: block;
      position: absolute;
      right: 24px;
      top: 2px;
      transform: rotate(-180deg); }
    .nav--mobile ul .nav-item-parent ul {
      max-height: 0;
      overflow-y: hidden;
      transition: 300ms max-height ease-in-out; }
      .nav--mobile ul .nav-item-parent ul a:after {
        content: '';
        display: none; }
    .nav--mobile ul .nav-item-parent.is-active a:after {
      transform: rotate(0);
      top: 16px; }
    .nav--mobile ul .nav-item-parent.is-active ul {
      max-height: 500px; }
  .nav--mobile .nav--mobile__copyright {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 16px 16px 16px 24px;
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 12px;
    line-height: 1.3333;
    background-color: #fff; }

/*
** Desktop Navigation
*/
.nav--desktop ul {
  display: flex;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.3333;
  letter-spacing: 1px; }
  .nav--desktop ul li {
    flex: 0 1 auto;
    position: relative; }
    .nav--desktop ul li:hover a,
    .nav--desktop ul li.is-active a {
      color: #000;
      background-color: #fff; }
  .nav--desktop ul a {
    transition: all 300ms ease-in-out;
    display: block;
    padding: 24px 24px 20px 24px;
    text-decoration: none;
    color: #fff; }
    .nav--desktop ul a:hover, .nav--desktop ul a:focus {
      color: #000;
      background-color: #fff; }
  .nav--desktop ul ul {
    z-index: 10;
    display: none;
    position: absolute;
    top: 100%;
    width: 200px;
    padding: 12px 0;
    font-size: 13px;
    line-height: 1.3846;
    letter-spacing: 0;
    background-color: #fff; }
    .nav--desktop ul ul a {
      padding: 13px 24px 7px 24px;
      color: #000; }
      .nav--desktop ul ul a:hover, .nav--desktop ul ul a:focus {
        background-color: #eee; }
  .nav--desktop ul li.is-active ul {
    display: block; }

/*
** Hero Component
*/
.hero {
  position: relative; }
  @media (min-width: 768px) {
    .hero {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 640px;
      margin-bottom: 60px;
      text-align: center; } }
  .hero:after {
    content: '';
    display: block;
    height: 240px;
    background: transparent url("/images/hero-bg.jpg") no-repeat center center;
    background-size: cover; }
    @media (min-width: 768px) {
      .hero:after {
        height: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1; } }
  .hero h1 {
    padding: 0 24px; }
    @media (min-width: 768px) {
      .hero h1 {
        max-width: 860px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        font-weight: 500;
        font-size: 112px;
        line-height: 1.1071;
        letter-spacing: 2px;
        color: #fff; } }
