/*
** Application Manifest
*/
/*
** Global Reset
*/
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body,
html {
  font-size: 100%;
  min-height: 100%; }

body {
  line-height: 1; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a,
button,
input[type="submit"] {
  cursor: pointer; }

nav ul {
  margin: 0;
  padding: 0; }
  nav ul li {
    margin: 0;
    padding: 0; }

/*
** Fonts
*/
/*
** Variables
*/
/*
** Typography
*/
/*
** Color Palette
*/
/*
** Media Queries
*/
/*
** Founders Grotesk Font Face
*/
@font-face {
  font-family: 'Founders Grotesk';
  src: url("/fonts/FoundersGrotesk-Light.woff2") format("woff2"), url("/fonts/FoundersGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Founders Grotesk';
  src: url("/fonts/FoundersGrotesk-Regular.woff2") format("woff2"), url("/fonts/FoundersGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Founders Grotesk';
  src: url("/fonts/FoundersGrotesk-Medium.woff2") format("woff2"), url("/fonts/FoundersGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

/*
** Typography
*/
body {
  font-family: "Founders Grotesk", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1; }

h1,
.h1 {
  margin: 50px 0;
  font-weight: 500;
  font-size: 44px;
  line-height: 1.0909; }
  @media (min-width: 768px) {
    h1,
    .h1 {
      margin: 0;
      font-weight: 400;
      font-size: 60px;
      line-height: 1.2;
      letter-spacing: 2px; } }

h2,
.h2 {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.25; }

p {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5; }

/*
** Header Layout
*/
.header {
  padding: 20px 24px;
  background-color: #000; }
  .header .brand a {
    display: block; }
    .header .brand a img {
      display: block; }

/*
** Main Layout
*/
.col--primary {
  max-width: 1016px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px; }

/*
** Hero Component
*/
.hero {
  position: relative; }
  @media (min-width: 768px) {
    .hero {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 640px;
      margin-bottom: 60px;
      text-align: center; } }
  .hero:before {
    content: '';
    display: block;
    height: 240px;
    background: transparent url("/images/hero-bg.jpg") no-repeat center center;
    background-size: cover; }
    @media (min-width: 768px) {
      .hero:before {
        height: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0; } }
  .hero h1 {
    z-index: 1;
    padding: 0 24px; }
    @media (min-width: 768px) {
      .hero h1 {
        max-width: 860px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        font-weight: 500;
        font-size: 112px;
        line-height: 1.1071;
        letter-spacing: 2px;
        color: #fff; } }
