/*
** Header Layout
*/

$block: 'header';

.#{$block} {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    background-color: $color--bg--dark;

    @include breakpoint(sm) {
        justify-content: flex-start;
    }

    .#{$block}__brand {
        transition: $timing--mobile-nav left ease-in-out;
        display: block;
        flex: 1 1 auto;
        position: relative;
        padding: 20px 24px;
        left: calc(-100% + 72px);

        @include breakpoint(sm) {
            left: auto;
            flex: 0 1 auto;
            margin-right: 24px;
        }

        img {
            display: block;
            max-height: 20px;

            @include breakpoint(sm) {
                max-height: 24px;
            }
        }

        [data-nav-mobile-status="open"] & {
            left: 0;
        }
    }

    .#{$block}__mobile-nav-toggle {
        transition: $timing--mobile-nav left ease-in-out;
        flex: 0 1 72px;
        position: relative;
        left: calc(-100% + 72px);

        @include breakpoint(sm) {
            left: auto;
            display: none;
        }

        a {
            position: relative;
            display: block;
            width: 24px;
            height: 20px;
            padding: 30px 32px;
            background: transparent url('/images/toggle-open.svg') no-repeat center center;
            background-size: 24px;

            [data-nav-mobile-status="open"] & {
                background-image: url('/images/toggle-close.svg');
            }
        }

        [data-nav-mobile-status="open"] & {
            left: 0;
        }
    }

    .#{$block}__nav {
        display: none;

        @include breakpoint(sm) {
            display: block;
        }
    }
}


// Expanded mobile nav state