/*
** Main Layout
*/

body {
    overflow-x: hidden;

    // Nav open
    &[data-nav-mobile-status="open"] {
        overflow-y: hidden;

        @include breakpoint(sm) {
            overflow-y: auto;
        }
    }
}


// Main contents wrapper for off-screen nav
[data-nav-mobile-main] {
    transition: $timing--mobile-nav left ease-in-out;
    left: 0;

    &:after {
        content: '';
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0);

        [data-nav-mobile-status="open"] & {
            display: block;
            background-color: rgba(0, 0, 0, 0.5);

            @include breakpoint(sm) {
                display: none;
            }
        }
    }

    [data-nav-mobile-status="open"] & {
        left: calc(100% - 72px);

        @include breakpoint(sm) {
            left: 0;
        }
    }
}


.col--primary {
    max-width: 1016px; // 968 + 24 * 2
    margin: 0 auto 72px auto;
    padding-left: 24px;
    padding-right: 24px;
}