/*
** Mobile Navigation
*/

$block: 'nav--mobile';

.#{$block} {
    transition: $timing--mobile-nav left ease-in-out;
    position: fixed;
    z-index: 10;
    left: -100%;
    top: 60px;
    bottom: 0;
    width: calc(100% - 72px);
    overflow-x: hidden;
    padding: 12px 0 48px 0;
    background-color: $color--white;

    // Expanded mobile nav state
    [data-nav-mobile-status="open"] & {
        left: 0;
    }
    
    @include breakpoint(sm) {
        display: none;
    }

    ul {
        font-weight: $weight--sans--regular;
        font-size: 18px;
        line-height: 1.3333; // 24

        li {
            display: block;
        }

        a {
            position: relative;
            display: block;
            padding: 13px 24px 6px 24px;
            text-decoration: none;
            color: $color--text;
            vertical-align: bottom;

            &:hover,
            &:focus {
                background-color: $color--bg--light;
            }
        }

        ul {
            font-weight: $weight--sans--light;
            font-size: 13px;
            line-height: 1.2308; // 16

            a {
                padding: 7px 24px 1px 24px;
            }
        }
    }


    .#{$block}__copyright {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 16px 16px 16px 24px;
        font-family: $family--sans--fallback;
        font-size: 12px;
        line-height: 1.3333; // 16
        background-color: $color--white;
    }
}